body{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    background: rgb(98,96,140);
    background: linear-gradient(90deg, rgba(98,96,140,1) 0%, rgba(138,138,200,1) 40%, rgba(155,186,196,1) 72%);
    
}  
.container{

   height: 200px;
   width: 350px;
   border-radius: 20px;
   background-image: url("/images/bg.png");
   background-size: cover;
   color: white;
   transition: all 0.3s ease;
   transform: scale(1.6);
}

.images{
    width: 350px;
    height: 90px;
    display: flex;
    align-items: center;
   
}
    

.logo{
  width: 50px;
  height: 30px; 
  margin-left: 10px; 
  transition: all 0.3s ease;



}
.logo:hover{

    transform: scale(1.1);
    box-shadow: 1px 1px 3px black;

}
h4{ 
    margin-left: 20px;
    flex-grow: 1;
}



.chip{
    width: 60px;
    height: 40px;  
    margin-right: 30px;
    transition: all 0.3s ease;
    
}
.chip:hover{

    transform: scale(1.1);
    box-shadow: 1px 1px 3px black;

}
.details{
    display: flex;
    
}
.names{
    margin-left: 20px;
    flex-grow: 1;
}
.validity{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
  
    
}

